.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(101, 101, 255);
}

.heading_div {
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px rgb(101, 101, 255);
}

.heading_div2 {
    font-size: 18px;
}

.result_para_tag {
    box-shadow: 5px 5px 5px rgb(221, 15, 15);
    font-size: 25px;
}

.copy_right_footer {
    position: fixed;
    color: rgb(221, 15, 15);
    bottom: 0;
    width: 100%;
    background-color: rgb(101, 101, 255);
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid rgb(221, 15, 15);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(101, 101, 255);
    margin-top: 150px;
}